*.aux
*.bak
*.vo
*.d
*.glob
*.cm*
*.o
*.a
*.vos
*.vok
deps.dat
deps.jpg
deps.map
diff
html
_build
.merlin
.coq-native
.rocq-native
*.install
.*.cache

RocqMakefile
RocqMakefile.conf
depgraph.dot
depgraph.svg

src/fold.ml
src/fold_g.ml
src/kat_reification.ml
src/kat_reification_g.ml
src/mrewrite.ml
src/mrewrite_g.ml
src/reification.ml
src/reification_g.ml
